html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .Button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #Grey {
    background: grey;
  }
  
  #White {
    background: white;
  }
  #Blue {
    background: blue;
  }
  #Yellow {
    background: yellow;
  
  }
  #Pink {
    background: pink;

  }
  #Fuchsia {
    background: fuchsia;
  }

  #Lavender {
    background: lavender;
  }

  #Purple
  {
    background: Purple;

  }

  #Magenta {
    background: rgb(208, 148, 208);
  }

  #green {
    background: green;
  }